
<div fxLayout="row" 
  fxLayoutAlign="start start"
  class="full-page"
  >
  <div fxFlex="25%" class="profile-card">
    <mat-card class="preview-card">
      <mat-card-content>
        <app-profile [data]="profile | async"></app-profile>
      </mat-card-content>
    </mat-card>
    <!-- <button (click)="navigateTdm()" mat-button>tdm profile</button> -->
  </div>
  <div fxFlex="75%">
    <mat-grid-list cols="3" rows="2" gutterSize="2em">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="preview-card ">
          <mat-card-header>
            <mat-card-title>
              Capture the Flag
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-ctfpreview [playerId]="playerId"></app-ctfpreview>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="preview-card">
          <mat-card-header>
            <mat-card-title>
              Team Deathmatch
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-tdmpreview [playerId]="playerId"></app-tdmpreview>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="preview-card">
          <mat-card-header>
            <mat-card-title>
              Deathmatch
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-dmpreview [playerId]="playerId"></app-dmpreview>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" [rowspan]="1">
        <mat-card class="preview-card">
            <h1>Activity</h1>
            <mat-card-subtitle>When is the player online?</mat-card-subtitle>
          <app-week-chart [data]="activity | async"></app-week-chart>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
