<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a mat-list-item href="/">
        <mat-icon svgIcon="players"></mat-icon>
      </a>
      <a mat-list-item href="/dm">
        <mat-icon svgIcon="skull"></mat-icon>
      </a>
      <a mat-list-item href="/tdm">
        <mat-icon svgIcon="dm"></mat-icon>
      </a>
      <a mat-list-item href="/ctf">
        <mat-icon>outlined_flag</mat-icon>
      </a>
      <a mat-list-item href="http://www.bman.gg">
        <mat-icon>whatshot</mat-icon>
      </a>
      <a mat-list-item href="/about">
        <mat-icon>info</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Dyson City</span>
    </mat-toolbar>
    <ng-content>

    </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
