@import '~@angular/material/theming';

@include mat-core;
$custom-primary-color: (
  '50': #e5e6e8,
  '100': #bfc0c5,
  '200': #94969f,
  '300': #696c78,
  '400': #494d5b,
  '500': #292d3e,
  '600': #242838,
  '700': #1f2230,
  '800': #191c28,
  '900': #0f111b,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #ffffff,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);




$my-theme-primary: mat-palette($custom-primary-color);
$my-theme-accent: mat-palette($mat-blue);
$my-theme-warn: mat-palette($mat-orange);

$theme-foreground: (
  base:              #fdf6e3,
  divider:           $white-12-opacity,
  dividers:          $white-12-opacity,
  disabled:          rgba(200, 200, 200, 0.38),
  disabled-button:   rgba(200, 200, 200, 0.38),
  disabled-text:     red,
  hint-text:         rgba(200, 200, 200, 0.38),
  secondary-text:    #657B83,
  icon:              rgba(200, 200, 200, 0.54),
  icons:             rgba(200, 200 , 200, 0.54),
  text:              #657B83,
  slider-min:        rgba(200, 200, 200, 0.87),
  slider-off:        rgba(200, 200, 200, 0.26),
  slider-off-active: rgba(200, 200, 200, 0.38),
);

$theme-background: (
  status-bar: #FAFAFA,
  app-bar:    map_get($mat-grey, 100),
  background: #fdf6e3,
  hover:      rgba(200, 200, 200, 0.04),
  card:       #FCF3D9,

  dialog:     #202029,
  disabled-button: $black-12-opacity,
  raised-button: #202029,
  focused-button: $black-6-opacity,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
);

$my-theme: (
    primary: $my-theme-primary,
    accent: $my-theme-accent,
    warn: $my-theme-warn,
    is-dark: true,
    foreground: $theme-foreground,
    background: $theme-background
);


$custom-typography: mat-typography-config(
  $font-family: 'Inconsolata',
  $headline: mat-typography-level(30px, 24px, 500),
  $title: mat-typography-level(20px, 24px, 500),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include angular-material-typography($custom-typography);
@include angular-material-theme($my-theme);