@import '~@angular/material/theming'
@import './my-theme.scss'

@include angular-material-theme($my-theme)

@import url("https://fonts.googleapis.com/icon?family=Material+Icons")

a:link
    color: #2AA198

a:active
  color: #2AA198


a:visited
    color : #B58900

a
  text-decoration: none

body
  margin: 0