<div class="page-header">
    <h1 class="mat-display-3 player-name">
        Player Name
    </h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="start start">
    <div class="left-col" fxFlex="33">
      <mat-grid-list cols="1" gutterSize="1em" rowHeight="6:1">
        <mat-grid-tile rowspan="7">
          <mat-card class="preview-card">
              <mat-card-header>
                  <mat-card-title>
                    Overview
                  </mat-card-title>
                </mat-card-header>
            <mat-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ipsum iusto cumque nemo sapiente iste aspernatur ducimus quae accusantium eligendi architecto tenetur impedit, reprehenderit est, quis in commodi autem explicabo.
                
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile rowspan="6">
          <mat-card class="preview-card">
              <mat-card-header>
                  <mat-card-title>
                    Rank
                  </mat-card-title>
                </mat-card-header>
            <mat-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ipsum iusto cumque nemo sapiente iste aspernatur ducimus quae accusantium eligendi architecto tenetur impedit, reprehenderit est, quis in commodi autem explicabo.
                
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile rowspan="8">
          <mat-card class="preview-card">
              <mat-card-header>
                  <mat-card-title>
                    Favorite Weapon
                  </mat-card-title>
                </mat-card-header>
            <mat-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ipsum iusto cumque nemo sapiente iste aspernatur ducimus quae accusantium eligendi architecto tenetur impedit, reprehenderit est, quis in commodi autem explicabo.
                
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile rowspan="6">
          <mat-card class="preview-card">
              <mat-card-header>
                  <mat-card-title>
                    Winrates
                  </mat-card-title>
                </mat-card-header>
            <mat-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ipsum iusto cumque nemo sapiente iste aspernatur ducimus quae accusantium eligendi architecto tenetur impedit, reprehenderit est, quis in commodi autem explicabo.
                
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
  
      </mat-grid-list>
    </div>
  
    <div fxFlex="67">
      <mat-grid-list cols="1" gutterSize="1em" rowHeight="12:1">
        <mat-grid-tile rowspan="9">
          <mat-card class="preview-card">
            <mat-card-header>
              <mat-card-title>
                Kill History
              </mat-card-title>
              <mat-card-subtitle>
                  Click on any player to see their profile
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ipsum iusto cumque nemo sapiente iste aspernatur ducimus quae accusantium eligendi architecto tenetur impedit, reprehenderit est, quis in commodi autem explicabo.
                
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile rowspan="5">
          <mat-card class="preview-card">
              <mat-card-header>
                  <mat-card-title>
                    Rating History
                  </mat-card-title>
                </mat-card-header>
            <mat-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ipsum iusto cumque nemo sapiente iste aspernatur ducimus quae accusantium eligendi architecto tenetur impedit, reprehenderit est, quis in commodi autem explicabo.
                
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile rowspan="7">
          <mat-card class="preview-card">
            <mat-card-header>
              <mat-card-title>
                Common Matchups
              </mat-card-title>
              <mat-card-subtitle>
                  Players most often paired against
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ipsum iusto cumque nemo sapiente iste aspernatur ducimus quae accusantium eligendi architecto tenetur impedit, reprehenderit est, quis in commodi autem explicabo.
                
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
  